.bg-body-tertiary  {
    img{
        height: 100px;
    }
    span{
        padding: 15px;
    }
    .link{
        text-decoration: none;
        color: rgb(42, 35, 35);
    }
    .container{
        
        background: rgb(255,202,111);
    }
   
}